<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	 <typeAliases> 
        <typeAlias alias="User" type="com.wenjin.zhu.entity.User"/>
    </typeAliases>
    <!-- 指定接口的实现映射文件；如果此处未指定，可以在配置SqlSessionFactory时，通过SqlSessionFactory的mapperLocations属性配置 -->
<!--     <mappers> -->
<!--           <mapper resource="com/crazysnail/domain/mybatis/User.xml"/>       -->
<!--     </mappers> -->

<!--    http://www.mybatis.org/mybatis-3/configuration.html#typeAliases
properties（属性）
settings（全局配置参数）      mybatis-settings  mybatis框架在运行时可以调整一些运行参数,比如：开启二级缓存、开启延迟加载...全局参数将会影响mybatis的运行行为。
typeAliases（类型别名）   如果在指定类型时输入类型全路径，不方便进行开发，可以针对parameterType或resultType指定的类型定义一些别名，在mapper.xml中通过别名定义，方便开发。
typeHandlers（类型处理器）
objectFactory（对象工厂）
plugins（插件）
environments（环境集合属性对象）
environment（环境子属性对象）
transactionManager（事务管理）
dataSource（数据源）
mappers（映射器）
批量加载mapper(推荐使用)
 批量加载mapper
		指定mapper接口的包名，mybatis自动扫描包下边所有mapper接口进行加载
		遵循一些规范：需要将mapper接口类名和mapper.xml映射文件名称保持一致，且在一个目录 中
		上边规范的前提是：使用的是mapper代理方法
		 
<package name="com.iot.mybatis.mapper"/>

    -->
</configuration>